.hero{
    height:100vh;
    background:url('../images/raw-banner.jpg') center/cover no-repeat;
    position:relative;
}

.overlay{
    background:rgba(0,0,0,.7);
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.superstar-card{
    background:#1e1e1e;
    border-radius:12px;
    overflow:hidden;
    transition:.4s;
}

.superstar-card:hover{
    transform:translateY(-10px);
}
.light{
    background:white;
    color:black;
}

.light .superstar-card{
    background:#f2f2f2;
}